# Чистый envsubst — ТОЛЬКО ${VAR}!
otel_trace ${ENABLE_OTEL_ON:-off};
otel_service_name ${OTEL_SERVICE_NAME:-dial-themes};

otel_exporter {
    endpoint ${OTEL_EXPORTER_OTLP_ENDPOINT:-http://otel-collector:4317};
    interval 5s;
    batch_size 512;
}
