# Чистый envsubst — НИКАКИХ Helm if!
otel_trace ${ENABLE_OTEL_ON:-off};
otel_service_name ${OTEL_SERVICE_NAME:-dial-themes};

# Exporter только если endpoint задан
{{- if .Values.enableOtel -}}
otel_exporter {
    endpoint ${OTEL_EXPORTER_OTLP_ENDPOINT:-otel-collector:4317};
    interval 5s;
    batch_size 512;
}
{{- end -}}
